* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #654040;
    color: #cd1a1a;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url('./my pic 1 jan.jpg');
    background-size: 600px 800px;
    background-position: right;
    background-repeat: no-repeat;
}

.container {
    padding: 10px 10%;
    color: rgb(255, 0, 0);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

.header-text {
    text-align: center;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff0202;


}
/*------about-------*/
#about{
    padding: 80px 0;
    color: rgb(250, 250, 250);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%; ;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2 img{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
}
